* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.width {
    max-width: 1280px;
    margin: 0 auto;
}

/* navigation */

header {
    background-color: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

nav .left {
    display: flex;
}

#logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: 2em;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.nav-links a {
    color: white;
}

.nav-links a:hover {
    color: orange;
}

#signup button {
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 2px solid orange;
    padding: 1em;
}

#signup button:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
}

/* landing page content */
main {
    background-color: black;
    color: white;
}

.hero-container {
    padding: 12em 5em 12em 5em;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: 5em;
}

.hero-text h1 {
    margin-bottom: 1em;
}

.hero-text p {
    margin-bottom: 1em;
}

.hero-text button {
    max-width: 150px;
}

.info-container {
    background-color: white;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
}

.info li {
    color: black;
    display: flex;
    gap: 2em;
    align-items: center;

    margin-bottom: 2em;
}

/* database content */
#database {
    font-size: 48px;
    text-align: center;
    padding: 3em 1em;
}

#filter-options {
    background-color: white;
}

#filter-options ul {
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 2px solid #eeeeee;
}

#filter-options .left {
    display: flex;
}

#filter-options .left {
    justify-content: flex-start;
}

#filter-options .left li {
    padding: 1em 2em;
}

#filter-options .left select:required:invalid {
    color: #444444;
}

#filter-options .left option[value=""][disabled] {
    display: none;
}

#filter-options .left select {
    border: 0;
}

#all-option {
    cursor: pointer;
}

#sort {
    padding: 0 2em 0 0.5em;
}

#headphones-list {
    background-color: white;
}

#headphones-list ul {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5em;
    text-align: center;
    padding: 5em;
}

#headphones-list img {
    margin-bottom: 1.5em;
}

/* headphone page */
.hp-heading {
    text-align: center;
    padding: 4em 1em 5em 1em;
}

.hp-main {
    margin-bottom: 3em;
}

.hp-heading h1 {
    font-size: 36px;
}

.tab-options {
    color: black;
    display: flex;
    justify-content: flex-start;
    padding: 1em 2em;
    border-bottom: 2px solid #eeeeee;
}

.tab-options li {
    padding: 1em 2em;
}

.tab-options li:hover {
    color: white;
    background-color: orange;
    cursor: pointer;
}

.tab-container {
    background-color: white;
}

.specs-container {
    background-color: white;
}

.specs-container ul {
    color: black;
    margin: 0 auto;
    padding: 2em 0 2em 4em;
}

.specs-container ul li {
    font-size: 18px;
    margin-bottom: 2em;
}

.specs-container ul label {
    font-weight: bold;
}

.specs-container ul p {
    margin-top: 0.5em;
}

/* footer */
footer {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 2em;
}